[submodule "third_party/official-baselines/repos/a-mem"]
	path = third_party/official-baselines/repos/a-mem
	url = https://github.com/agiresearch/a-mem.git
[submodule "third_party/official-baselines/repos/SeCom"]
	path = third_party/official-baselines/repos/SeCom
	url = https://github.com/microsoft/SeCom.git
[submodule "third_party/official-baselines/repos/O-Mem"]
	path = third_party/official-baselines/repos/O-Mem
	url = https://github.com/OPPO-PersonalAI/O-Mem.git
